<div class="chat">
    <div class="d-flex justify-content-around align-items-center">
        <img width="35px" src="./assets/bell.{{newMessage ? 'gif' :'png'}}" alt="bell">
        <div *ngIf="writing" class="d-flex justify-content-around align-items-center">
            <span class="fw-bold">typing</span>
            <img width="25px" src="./assets/write.gif" alt="write">
        </div>
    </div>
    <div class="list-group chat-list" id="chat">
        <div *ngFor="let obj of messages" class="list-group-item list-group-item-action" aria-current="true" [title]="obj.time |
            date:'medium'">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 {{obj.name == myName ? 'text-success':'text-danger'}}">
                    <i class="fa-solid fa-person{{obj.name == myName ? '':'-digging'}}"></i>
                    {{obj.name == myName ? 'Me' :'He'}}
                </h5>
                <small>
                    <i class="fa-solid fa-clock"></i>
                    {{obj.time | date:'HH:mm'}}
                </small>
            </div>
            <ul class="list-group list-group-flush">
                <li *ngFor="let text of obj.message" class="list-group-item">{{text}}</li>
            </ul>
        </div>
    </div>
    <div class="input-group mb-3">
        <textarea class="form-control" placeholder="Send message" aria-label="Send message"
            aria-describedby="button-addon2" id="area" (keydown)="enter($event)" rows="1"></textarea>
        <button class="btn btn-success" type="button" id="button-addon2" (click)="send()">
            <i class="fa-solid fa-paper-plane"></i>
        </button>
    </div>
</div>