.square {
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;
}

.square:hover {
    border: 2px solid silver;
}

.board-li {
    height: 100px;
}

.board-ul {
    border: 1px solid black;
    box-shadow: 0 0 15px 0 black;
}

.board-ul,
.board-li {
    width: fit-content;
}

.top-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.chat {
    position: fixed;
    right: 0;
    top: 0;
}

.chat-list {
    min-height: 100px;
    max-height: 500px;
    overflow: auto;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(149, 161, 154);
}